.header{
    background-color: black;
    border: 3px;
    height: 40px;
    width: auto;
    text-align: center;
    color: white;
    margin-bottom: 40px;

}


* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    padding: 10px;
    height:500px;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
.current-conditions {

  
  height: 90px;
  background-color: blue;
  margin-bottom:30px;

}


.forecast{
    margin-top:50px;
    height: 90px;
    background-color: blue;
}
 



