.header{
    background-color: black;
    border: 3px;
    height: 40px;
    width: auto;
    text-align: center;
    color: white;
    margin-bottom: 40px;

}


* {
    box-sizing: border-box;
  }
  
.column {
    float: left;
    padding: 10px;
    height:500px;
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
.forecast{
    margin-top:40px;
    height: 75px;
    background-color: blue;
}
  .box{

    border: black;
    border-radius: 1px;
  }



